body {
    font-size: 14px;
    padding: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}
h1{
  font-size: 2rem;
}
@media only screen and (min-width: 1000px) {
  body{
    padding: 20px 15vw;
  }
}
#escribirLineaContenedor{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 10px;
  margin-bottom: 10px;
}
#entrada{
  border: none;
  background-color:black;
  color: white;
  border-radius:5px;
  height: 25px;
  width: 90%;
  padding:0.4rem 1REM;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
#entrada:focus{
  background-color: rgb(20, 36, 36);
}
#entradaFormulaResultado{
  height: 0;
  transition: all 200ms;
  overflow: hidden;
  margin-left: 12vw;
}
#btn_enviar{
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  transition:all 200ms cubic-bezier(0.165, 0.84, 0.44, 1) ;
  padding:0.5rem 1rem;
  font-size: 1rem;
  height: 36px;
}
#btn_enviar:hover{
  cursor: pointer;
  background-color:rgb(20, 36, 36);
}

#contenedor{
  background-color: lightgray;
  height: 50vh;
  min-height: 200px;
  padding: 20px;
  margin:12px 0px;
  border-radius:2px;
  overflow-y:scroll;
  scroll-behavior: smooth;
  text-align: center;
}
#alertas{
  background-color:darkgrey;
  font-size: 12px;
  padding: 2px;
  border-radius: 2px;
  text-align: center;
  overflow:hidden;
  height: 15px;
 
}
.lineNumber{
  opacity: 0.5;
  writing-mode:vertical-lr;
  text-orientation:mixed;
  font-size: 1rem;
  
}
#lineaContenedor{
  display:grid;
  grid-template-columns: 0.2fr 10fr 0.2fr;
  column-gap: 1rem;
  align-items: center;
  margin-bottom: 1.5rem;
}
.linea{
  background-color: lightgray;
  border: none;
  overflow: hidden;
  padding:0.4rem 1rem;
  font-size: 1rem;
  resize: none;
  line-height: 1.5rem;
  
}
.linea:focus{
  background-color:black;
  color:white;
}